---
import {getLangFromUrl, initTranslations, useTranslations} from "../../i18n/utils";
import {getVerseOfTheDay, VerseOfTheDayLanguage} from "../../scripts/verse-of-the-day";

const {language} = Astro.props;
const t = useTranslations(language);

let output = await getVerseOfTheDay(language);

if (output.failed) {
  output.passage = t("bible.app.dailyverse.failed");
  output.citation = "-";
  output.imageUrl = "/patience.webp";
}
---

<!--TODO needs CSS-->
<div>
  <img src={output.imageUrl} alt="Verse Image…" width="512px" height="512px"/>
</div>
<h2>{t("bible.app.dailyverse")}</h2>
<p>{output.passage}</p>
<p>{output.citation} {output.version}</p>